#container-animation {
    width: fit-content;
    margin: 10px auto;
    border-radius: 5px;
}

#field {
    margin: 10px;
    border-radius: 5px;
    background-position: center;
    background-size: 100%;
}

#ball {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    background-position: center;
    background-size: 100%;
    position: relative;
}



#control {
    display: flex;
    flex-wrap: nowrap; /* ป้องกันไม่ให้ปุ่มขึ้นบรรทัดใหม่ */
    justify-content: center;
    gap: 0.5px;
    margin: 10px;
}

/* .active-btn {
    background-color: rgb(227, 32, 120) !important;
    color: white !important;
} */


.btn-1 {
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    border-color: black;
}

