.counter-name {
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em; 
    background-color: aliceblue;
    text-align: center; 
}

.title {
    color: darkblue;
    margin-bottom: 0.5em; 
}

.variable-controls {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.counter-value {
    font-size: 2em; 
    margin: 0 0.5em; 
}

