.counter-container {
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
    background-color: aliceblue;
    text-align: center;
    width: fit-content;
    margin: 10px auto;
}


.counter-title {
    color: darkblue;
    margin-top: 10px;
    
}

.counter-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px; /* ปรับตามที่ต้องการ */
    margin: 0 auto;
}

.counter-value{
    font-size: x-large;
    font-weight: bold;
    margin: 0 0.5em;
    
}


