.add-container {
    border: 1px solid #000;
    margin-top: 1em;
    padding: 0 0.5rem;
    border-radius: 1em;
    padding-bottom: 1em;
    background-color: aliceblue;
}

.add-title {
    color: darkblue;
    margin-top: 5px;
}

.add-display {
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
}

.add-variable {
    display: flex; /* เปลี่ยนจาก grid เป็น flex */
    gap: 0.5em; /* เพิ่มระยะห่างระหว่างตัวแปร */
    justify-content: space-between; /* ทำให้ตัวแปรกระจายอยู่ทั่วพื้นที่ */
}
